header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 9.6rem;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .left-container {
        display: flex;
        align-items: center;
        .logo {
            position: relative;
            &:after {
                content: "";
                width: 43px;
                border-top: 2px solid #00a3ff;
                position: absolute;
                left: 0;
                bottom: -2.9rem;
            }
        }
        nav {
            margin-left: 11.2rem;
            ul {
                display: flex;
                align-items: center;
                li {
                    &:not(:first-child) {
                        margin-left: 3.4rem;
                    }
                    a {
                        display: flex;
                        align-items: center;
                        font-weight: 500;
                        line-height: 2.1rem;
                        color: #fff;
                        img {
                            margin-left: 1.4rem;
                        }
                    }
                }
            }
        }
    }
    .right-container {
        display: flex;
        align-items: center;
        .btn {
            &:not(:first-child) {
                margin-left: 1.6rem;
            }
        }
        .btn-mobile {
            display: none;
        }
    }

    @media (max-width: 991px) {
        .left-container {
            nav {
                display: none;
            }
        }
        .right-container {
            .btn-mobile {
                display: block;
                margin-left: 8.9rem;
            }
        }
    }
    @media (max-width: 560px) {
        height: 8rem;
        .left-container {
            .logo {
                width: 100%;
                max-width: 6.9rem;
            }
        }
        .right-container {
            .btn {
                display: none;
            }
        }
    }
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: #000000ba;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(12px);
    width: 100%;
    padding-top: 9.6rem;
    display: none;
    &:active {
        display: block;
    }
    &.esportes {
        .area-menu {
            ul {
                grid-template-columns: repeat(5, 1fr);
                grid-gap: 6.4rem;
                li {
                    a {
                        width: 100%;
                        height: 23.7rem;
                        .icon {
                            width: 100%;
                            height: 17.9rem;
                        }
                    }
                }
            }
        }
    }
    .area-menu {
        padding-top: 3.8rem;
        padding-bottom: 5.5rem;
        ul {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 2.8rem 3.2rem;
            li {
                a {
                    width: 17.6rem;
                    height: 17.6rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    .icon {
                        width: 69.4px;
                        height: 69.4px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 8.6px;
                    }
                    span {
                        display: block;
                        font-weight: 500;
                        font-size: 1.4rem;
                        line-height: 120%;
                        text-align: center;
                        color: #9d9d9d;
                    }
                }
            }
        }
    }
    .footer-menu {
        width: 100%;
        height: 7rem;
        background-color: rgba(21, 23, 27, 0.7);
        display: flex;
        align-items: center;
        justify-content: center;
        ul {
            display: flex;
            align-items: center;
            li {
                &:not(:first-child) {
                    margin-left: 6.4rem;
                }
                a {
                    display: flex;
                    align-items: center;
                    span {
                        font-weight: 600;
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                        text-align: center;
                        color: #fff;
                        margin-left: 1rem;
                    }
                }
            }
        }
    }
    @media (max-width: 560px) {
        display: none;
    }
}
