.btn {
    display: inline-flex;
    align-items: center;
    padding: 0px 1.6rem;
    line-height: 4.1rem;
    border-radius: 3px;
    font-size: 1.4rem;
    text-align: center;
    color: #fff;
    border: 1px solid transparent;
    transition:
        color 0.3s,
        background-color 0.3s;
    img {
        margin-right: 8px;
    }
    &-primary {
        background-color: $primary-default;
        border-color: $primary-default;
        &:hover {
            background-color: $primary-light;
        }
    }
    &-outline {
        border-color: #fff;
        &:hover {
            color: $neutral-200;
            background-color: #fff;
        }
    }
}
.game-card {
    display: block;
    width: 100%;
    max-width: 28rem;
    &:hover {
        .image {
            transform: scale(1.05);
        }
    }
    .image {
        overflow: hidden;
        border-radius: 4px;
        width: 100%;
        height: 38.3rem;
        margin-bottom: 24px;
        transition: transform 0.3s ease-in;
    }
    .info {
        h3 {
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 2.7rem;
            color: #e5e5e5;
            margin-bottom: 4px;
        }
        span {
            font-size: 1.4rem;
            line-height: 2.1rem;
            color: #e5e5e5;
            opacity: 0.8;
        }
    }
    @media (max-width: 1200px) {
        .image {
            height: 34.3rem;
        }
    }
    @media (max-width: 991px) {
        .image {
            height: 30.3rem;
        }
    }
    @media (max-width: 560px) {
        .image {
            height: 21.3rem;
            margin-bottom: 0;
        }
    }
}
